@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f7fafc;
  margin: 0;
  font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
}
