services:
  - type: web
    name: mern-dashboard-backend
    env: node
    region: frankfurt
    buildCommand: cd server && npm install
    startCommand: cd server && npm start
    envVars:
      - key: PORT
        value: 5000
      - key: MONGO_URI
        sync: false
